.todoList {

  &__item {
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 6px 16px 0 rgba(6, 54, 128, .03);
    height: 56px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding: 0 24px;
  }
}