$insertDialogueHeight: 64px;

.insertDialogue {
    position: relative;
    margin-bottom: 52px;

    &__input {
        width: 100%;
        height: $insertDialogueHeight;
        line-height: $insertDialogueHeight;
        padding: 0 32px;
        border-radius: $border-radius-small;
        border: none;
        box-shadow: 0 6px 16px 0 rgba(6, 54, 128, .03);

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: rgba(#000752, .4);
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: rgba(#000752, .4);
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: rgba(#000752, .4);
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: rgba(#000752, .4);
        }

        &:focus {
            outline: none;
        }
    }

    &__categoryList {
        list-style-type: none;
        padding: 0;
        margin: 8px 0 0 0;
        background-color: #ffffff;
        position: absolute;
        width: 400px;
        right: 0;
    }

    &__categoryButton {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 0 16px;
        min-width: 70px;
        border-left: 1px solid #f0f2f7;
        transition: $transition-default;
        display: flex;
        align-items: center;
        cursor: pointer;

        svg {
            fill: rgba(#000752, .4);
            display: block;
            margin: 0 auto;
        }

        &:hover,
        &:focus {
            outline: none;
            background-color: #f8f9fb;
        }
    }

    &__categoryName {
        display: inline-block;
        margin-left: 12px;
    }

    &__categoryList {
        box-shadow: 0 6px 16px 0 rgba(6, 54, 128, .03);
    }

    &__categoryListLink {
        display: block;
        padding: 12px;
        border-bottom: 1px solid #f0f2f7;
        cursor: pointer;
        transition: $transition-default;

        &:hover,
        &:focus {
            background-color: #f0f2f7;
        }
    }
}