.tile {
  background-color: $color-white;
  display: inline-block;
  position: relative;
  max-width: 320px;
  height: 144px;
  width: 100%;
  color: $color-primary;
  padding: 20px;
  transition: $transition-default;
  border-radius: $border-radius-default;
  $tile: &;

  &__caption {
    color: $color-black;
    font-size: 12px;
    font-weight: 500;
  }

  &__title {
    font-size: 21px;
  }

  &--cta {
    background-color: $color-primary;
    border: 5px solid $color-primary;
    color: $color-white;
    display: table;

    &:hover, &:focus {
      color: $color-primary;
      background-color: $color-white;
    }

    #{$tile}__title {
      text-align: center;
      display: table-cell;
      vertical-align: middle;
    }
  }
}