.colorGrid {

  &__block {
    font-size: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    border: 2px solid $color-bg;
    cursor: pointer;
    transition: $transition-default;

    &:hover, &--active {
      border-color: $color-primary;
    }
  }
}