.header {
  height: $header-height;
  background-color: $color-primary;
  color: $color-white;
  box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .1);
  padding: 16px 0;

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 56px;
    display: inline-block;
  }

  &__listItem {
    display: inline-block;
    margin-right: 32px;
  }

  &__listLink {
    color: rgba($color-white, .5);
    transition: $transition-default;

    &--active, &:hover, &:focus  {
      color: $color-white;
    }
  }
}