.header {
  height: $header-height;
  background-color: $color-white;
  box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .1);

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: $header-height;
  }

  &__listItem {
    display: inline-block;
    margin-right: rem-calc(30);
  }

  &__listLink {
    color: lighten($color-tertiary, 20%);
    transition: $transition-default;

    &--active {
      color: $color-tertiary;
    }

    &:hover, &:focus {
      color: $color-tertiary;
    }
  }
}