.colorGrid {

  &__block {
    font-size: 0;
    display: inline-block;
    width: rem-calc(30);
    height: rem-calc(30);
    border-radius: rem-calc(7);
    border: 2px solid $color-bg;
    cursor: pointer;
    transition: $transition-default;

    &:hover, &--active {
      border-color: $color-primary;
    }
  }
}