.logo {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: rem-calc(21);
  height: $header-height;
  background-color: $color-secondary-darker;
  padding: rem-calc(20);
  display: block;
  text-align: center;

  &__logoSlash {
    color: $color-tertiary;
  }
}