.button {
  background-color: $color-secondary;
  padding: rem-calc(12) rem-calc(21);
  border-radius: rem-calc(4);
  font-weight: 700;
  color: $color-white;
  transition: $transition-default;
  cursor: pointer;
  display: inline-block;

  &:hover, &:focus {
    background-color: lighten($color-secondary, 10%);
    color: $color-white;
  }

  &:disabled {
    background-color: lighten($color-secondary, 50%);
  }

  &--ghost {
    background-color: transparent;
    border: 1px solid $color-secondary;
    color: $color-secondary;

    &:hover, &:focus {
      background-color: #d3d5e6;
      color: $color-secondary;
    }
  }
}