.button {
  background-color: $color-primary;
  padding: rem-calc(12) rem-calc(21);
  border-radius: rem-calc(4);
  font-weight: 700;
  color: $color-white;
  transition: $transition-default;
  cursor: pointer;
  display: inline-block;

  &:hover, &:focus {
    background-color: lighten($color-primary, 10%);
    color: $color-white;
  }

  &:disabled {
    background-color: lighten($color-primary, 50%);
  }

  &--ghost {
    background-color: transparent;
    border: 1px solid $color-primary;
    color: $color-primary;

    &:hover, &:focus {
      background-color: #d3d5e6;
      color: $color-primary;
    }
  }
}