.form {
  position: relative;
  overflow: hidden;
  $form: &;

  &__label {
    display: block;
    color: $color-primary;
    text-transform: uppercase;
    font-weight: 700;
    font-size: rem-calc(11);
    margin-bottom: rem-calc(4);
  }

  &__group {
    margin-top: rem-calc(24);
  }

  &__input, &__textarea {
    border: 1px solid $color-border;
    padding: rem-calc(12);
    display: block;
    width: 100%;
    border-radius: rem-calc(4);
    resize: vertical;

    &:focus {
      outline: none;
    }

    &--warning {
      border: 1px solid $color-warning;
    }
  }

  &__warning {
    font-size:rem-calc(12);
    margin-top: rem-calc(6);
    display: block;
    color: $color-warning;
  }

  &__content {
    overflow: hidden;
    transition: $transition-default;
  }

  &__slide {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
    transition: $transition-default;
  }

  &__buttons {
    margin-top: 16px;
    text-align: center;
  }

  &--loading {

    #{$form}__slide--1 {
      transform: translateX(0);
    }

    #{$form}__content {
      transform: translateX(-100%);
    }
  }

  &--success {

    #{$form}__slide--1 {
      transform: translateX(-100%)
    }

    #{$form}__slide--2 {
      transform: translateX(0);
    }

    #{$form}__content {
      transform: translateX(-100%);
    }
  }
}