.message {
  border-radius: rem-calc(10);
  padding: rem-calc(20);

  &--success {
    background-color: $color-success;
    color: $color-white;
  }

  &--warning {
    background-color: $color-warning;
    color: $color-white;
  }
}
