$color-white: #ffffff;
$color-black: #000000;

$color-primary: #1B0F22;
$color-secondary: #6F6B92;

$color-bg: #f0f2f7;
$color-border: #d7d7d7;



$color-warning: #ff0000;
$color-success: green;

$color-lime: lime;
$color-green: green;
$color-red: red;
$color-pink: pink;
$color-yellow: yellow;
$color-blue: blue;

$transition-default: all .2s ease-in-out;

$border-radius-default: 5px;
$border-radius-small: 3px;

$header-height: 140px;
